/Chapter.class
/Checker.class
/CommandReader.class
/Coordinates.class
/SpaceMarine$Weapon.class
/SpaceMarine.class
/Writer.class
/JsonAutoDetect.class
/SpaceMarine$Chapter.class
/SpaceMarine$Coordinates.class
